<app-sidebar></app-sidebar> <!-- Sidebar -->
<app-header></app-header> <!-- Header -->
<!-- CONTEÚDO PRINCIPAL -->
<div class="ml-60 p-6">
    <router-outlet></router-outlet>
</div>
<section class="p-6 ml-[20%]">

    <h2 class="text-2xl font-semibold">Produtos</h2>
  
    <!-- Barra de ferramentas -->
    <div class="flex justify-between items-center mt-4">
      <button class="border p-2 rounded-md shadow-sm">
        <img src="assets/imgs/ordenar.png" alt="Layout">
      </button>
      <div class="flex items-center gap-2">
        <input type="text" placeholder="Buscar..." class="border p-2 rounded-md w-60">
        <button class="border p-2 rounded-md shadow-sm">🔍</button>
        <button class="border p-2 rounded-md shadow-sm flex items-center gap-2">
            <img src="assets/icons/funil.svg" alt="Ícone Filtro" class="h-5 w-5">
            Filtro
          </button>
          
      </div>
    </div>
  
    <!-- Tabela de produtos -->
    <div class="mt-6 border rounded-md shadow-md">
      <table class="w-full text-left border-collapse">
        <thead>
          <tr class="border-b bg-gray-100">
            <th class="p-4">Produto</th>
            <th class="p-4">Tipo</th>
            <th class="p-4">Marca</th>
            <th class="p-4">Data de cadastro</th>
            <th class="p-4"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos" class="border-b">
            <td class="p-4 flex items-center gap-2">
              <img [src]="produto.image" alt="{{ produto.name }}" class="h-10 w-10 rounded-md">
              {{ produto.name }}
            </td>
            <td class="p-4">{{ produto.category }}</td>
            <td class="p-4">{{ produto.brand }}</td>
            <td class="p-4">{{ produto.created_at | date:'dd/MM/yyyy' }}</td>
            <td class="p-4">
                <a [routerLink]="['/detalhes-produto', produto.uid]" class="bg-secondary-dark text-white px-4 py-2 rounded-md shadow-md">
                  Detalhes
                </a>
              </td>
              
              
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  