<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="ml-[20%] mt-[4%]  max-w-screen ">
    <h1 class="text-accent-dark text-4xl font-semibold pt-[4%] ml-[10%]">Usuários cadastrados</h1>
    
    <div class="  h-[8%] pb-[2%] mr-[6%]">
        <form class="flex place-content-end pt-20">
            <div class="relative">
                <img src="../../../assets/icons/lupa.svg" alt="Ícone de lupa"
                    class="absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5"/>
                <input type="text" id="fname" name="fname" placeholder="First name"
                    class="w-52 h-10 pl-4 pr-10 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"/>
            </div>

            <div class="relative ml-2">
                <img src="../../../assets/icons/funil.svg" alt="Ícone de filtro"
                    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5 h-5"/>
                <input type="text" id="lname" name="lname"
                    class="w-24 h-10 pl-4 pr-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"/>
            </div>
        </form>
    </div>
    
        <!-- Cabeçalho da tabela -->
    <div class=" grid grid-cols-6 font-semibold text-base text-accent-dark mb-3 px-[10%]">
        <p class="col-span-2">Nome</p>
        <p>Código</p>
        <p>Tipo</p>
        <p class="col-span-2">E-mail</p>
    </div>
    <hr class="w-full border-1 border-gray-300" />
    <div>
        <!-- Lista de usuários -->
        <div>
            <ul>
                <li class="   w-full grid grid-cols-8 gap-2 items-center pl-[2%] pr-[3%] py-2" *ngFor="let user of users">
                    
                        <div class=" place-content-end size-8 rounded-full bg-white">
                            <!-- Imagem de fundo (Foto padrão) -->
                            <img src="../../../assets/imgs/Foto_User.png" 
                                 alt="Foto padrão"
                                 class=" inset-0 w-full h-full object-cover">
                        </div>
                    
                    <p class=" text-base font-normal whitespace-nowrap overflow-hidden text-ellipsis col-span-2">{{ user.name }}</p>
                    <p class="text-base font-normal ">{{ user.code }}</p>
                    <p class="text-base font-normal">{{ user.role }}</p>
                    <p class="text-base font-normal col-span-2">{{ user.email }}</p>
                    <button class="bg-secondary-dark text-white rounded-lg w-20 h-8 translate-x-2/3">Editar</button>
                </li>
            </ul>
        </div>
    </div>
</div>
