<app-sidebar></app-sidebar>
<app-header></app-header>

<div class="ml-[20%] mt-[4%]  max-w-screen ">
    <h1 class="text-accent-dark text-4xl font-semibold pt-[4%] ml-[10%]">Usuários cadastrados</h1>
    
    <div class="  h-[8%] pb-[2%] mr-[6%]">
        <form class="flex place-content-end pt-20">
            <div class="relative">
                <img src="../../../assets/icons/lupa.svg" alt="Ícone de lupa " (click)="filterUsers()"
                    class="absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5"/>
                    <input
                    type="text"
                    placeholder="Pesquisar"
                    class="w-52 h-10 pl-4 pr-10 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                    [(ngModel)]="searchQuery"
                    (input)="filterUsers()"
                  >
            </div>

            <div class="relative ml-2">
                <img src="../../../assets/icons/funil.svg" alt="Ícone de filtro"
                    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-5 h-5"/>
                <input type="button" id="lname" name="lname"
                    class="w-24 h-10 pl-4 pr-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"/>
            </div>
        </form>
    </div>
    
        <!-- Cabeçalho da tabela -->
    <div class=" grid grid-cols-7 font-semibold text-base text-accent-dark mb-3 px-[10%]">
        <p> </p>
        <p class="col-span-2 pl-[8%]">Nome</p>
        <p>Código</p>
        <p>Tipo</p>
        <p class="col-span-2">E-mail</p>
    </div>
    <hr class="w-full border-1 border-gray-300" />
    <div>
        <!-- Lista de usuários -->
        <div>
            <ul class="max-h-60 overflow-y-scroll border border-gray-300 rounded-lg">
                <li class="w-full grid grid-cols-9 gap-2 items-center pl-[2%] pr-[3%] py-2" *ngFor="let user of users">

                    <input type="checkbox" id="meuCheckbox" [(ngModel)]="user.selected">

                    <div class=" place-content-end size-8 rounded-full bg-white">
                        <img src="../../../assets/imgs/Foto_User.png" alt="Foto padrão" class=" inset-0 w-full h-full object-cover">
                    </div>
                    
                    <p class=" text-base font-normal whitespace-nowrap overflow-hidden text-ellipsis col-span-2">{{ user.name }}</p>
                    <p class="text-base font-normal ">{{ user.code }}</p>
                    <p class="text-base font-normal">{{ user.role }}</p>
                    <p class="text-base font-normal col-span-2">{{ user.email }}</p>
                    <button   class="bg-secondary-dark text-white rounded-lg w-20 h-8 translate-x-2/3">Editar</button>
                </li>
            </ul>
        </div>
    </div>
    <div class=" pt-[7%]  pr-[20%] flex justify-between pl-[20%]">
        <button (click)="toggleAddUserModal()" class="bg-secondary-dark hover:bg-secondary shadow-lg text-white rounded-lg w-[48%] h-14">Adicionar Usuário</button>
        <button (click)="deleteSelectedUsers()" class="bg-secondary-dark hover:bg-secondary shadow-lg text-white rounded-lg w-[48%] h-14">Remover Usuários Selecionados</button>
    
    <!-- Modal de Adicionar Usuário -->
    <div *ngIf="showAddUserModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold">Adicionar Usuário</h2>
            <form (ngSubmit)="cadastrar()">
                <input type="text" placeholder="Nome" [(ngModel)]="newUser.name" name="newUser.name" class="border p-2 rounded w-full mt-2 focus:outline-none focus:ring-2 focus:ring-secondary">
                <input type="email" placeholder="Email" [(ngModel)]="newUser.email" name="newUser.email" class="border p-2 rounded w-full mt-2 focus:outline-none focus:ring-2 focus:ring-secondary">
                <input type="role" placeholder="Tipo de Usuário : admin, estoquista ou leitor" [(ngModel)]="newUser.role" name="newUser.role" class="border p-2 rounded w-full mt-2 focus:outline-none focus:ring-2 focus:ring-secondary">
                <input type="password" placeholder="Senha" [(ngModel)]="newUser.password" name="newUser.password" class="border p-2 rounded w-full mt-2 focus:outline-none focus:ring-2 focus:ring-secondary">
                <input type="password" placeholder="Confirmar Senha" [(ngModel)]="newUser.confirmPassword" name="newUser.confirmPassword" class="border p-2 rounded w-full mt-2 focus:outline-none focus:ring-2 focus:ring-secondary">
                <button type="submit" class="bg-secondary-dark text-white px-4 py-2 rounded mt-4 hover:bg-secondary-light">Cadastrar</button>
                <button type="button" (click)="toggleAddUserModal()" class="ml-2 bg-gray-400 hover:bg-gray-700 text-white px-4 py-2 rounded">Cancelar</button>
            </form>
        </div>
    </div>

    <!-- Modal de Confirmação de Remoção -->
    <div  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div class="bg-white p-6 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold">Remover Usuário</h2>
            <p>Tem certeza que deseja remover <strong>{{ userToDelete?.name }}</strong>?</p>
            <button  class="bg-red-500 text-white px-4 py-2 rounded mt-4">Remover</button>
            <button  class="ml-2 bg-gray-400 text-white px-4 py-2 rounded">Cancelar</button>
        </div>
    </div>

</div>
