<div class="min-h-screen flex flex-col md:flex-row items-center md:items-stretch">
    
    <!-- Coluna do Formulário (Esquerda) -->
    <div class="w-full md:w-7/12 flex flex-1 justify-center items-center bg-white">
        <div class="w-10/12 max-w-md">
            
            <!-- Logo -->
            <div class="flex justify-center mb-4">
                <img src="../../../assets/logos/Logo-Petnature3x.png" alt="Logo" class="h-14">
            </div>

            <!-- Cadastro -->
            <div class="text-left mb-4">
                <h2 class="text-2xl font-semibold text-accent-dark">Criar conta</h2>
                <p class="text-[14px] text-accent-dark">Insira suas informações pessoais abaixo</p>
            </div>

            <!-- Formulário -->
            <form (ngSubmit)="cadastrar()">
                <div class="mb-3">
                    <label for="name" class="text-sm font-[400] ml-1 text-accent-gray">Nome completo</label>
                    <input type="text" id="name" [(ngModel)]="name" name="name"
                        class="w-full p-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary transition"
                        placeholder="Nome completo" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="text-sm font-[400] ml-1 text-accent-gray">E-mail</label>
                    <input type="email" id="email" [(ngModel)]="email" name="email"
                        class="w-full p-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary transition"
                        placeholder="E-mail" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="text-sm font-[400] ml-1 text-accent-gray">Senha</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password"
                        class="w-full p-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary transition"
                        placeholder="Senha" required>
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="text-sm font-[400] ml-1 text-accent-gray">Confirmar senha</label>
                    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword"
                        class="w-full p-2 text-sm border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-secondary transition"
                        placeholder="Confirmar senha" required>
                </div>

                <button type="submit" 
                    class="w-full bg-secondary-dark text-white py-2 rounded-lg hover:bg-secondary transition font-semibold shadow-md">
                    Cadastrar
                </button>
            </form>

            <!-- Link para login -->
            <div class="text-left text-[12px] mt-3">
                Já possui uma conta? 
                <a href="../" class="text-secondary-dark hover:underline cursor-pointer font-medium">Entrar</a>
            </div>

        </div>
    </div>

    <!-- Coluna da Imagem dentro do Card Verde (Direita) -->
    <div class="hidden lg:flex w-5/12 justify-center items-end mr-[40px] my-[26px] p-6 bg-primary-light rounded-2xl shadow-lg">
        <div class="w-[65%]">
            <img src="../../../assets/imgs/ilustracao_estoque.png" alt="Imagem de Estoque" class="w-full max-h-full object-contain">
        </div>
    </div>

</div>
